nav{
    box-shadow: 0 5px 10px green;
    margin-bottom: 10px;
}
.slide{
    height: 40vh;
    object-fit: cover;
}
.card{
    width: 15rem;
    margin: 10px;
    max-width: 18rem;
}
.card:hover{
    box-shadow: 0 0 10px silver;
}
.card-img-top{
    object-fit: cover;
    height:10rem;
}
.bigImage{
    width:100%;
    height:60vh;
    object-fit: cover;
}
.bigImage:hover{
    box-shadow: 0 0 10px black;
}
.imageDetail{
    margin-top: 30px;
}
.lyrics{
    text-align: center;
}
.page-footer{
    background-color: lightgreen;
}